@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

:root{
--White: hsl(0, 0%, 100%);
--Off-white: hsl(0, 0%, 94%);
--Light-grey: hsl(0, 0%, 86%);
--Smokey-grey: hsl(0, 1%, 44%);
--Off-black: hsl(0, 0%, 8%);
--Purple: hsl(259, 100%, 65%);
--Light-red: hsl(0, 100%, 67%);
}

html,body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

body{
    background-color: var(--Light-grey);
    font-family: "Poppins", sans-serif;
}

main{
    width: 50%;
    background-color: var(--White);
    padding: 2.5rem;
    border-radius: 1.5rem 1.5rem 9rem 1.5rem;
    /* border-bottom-right-radius: 3rem; */
}

.main-div-1{
   padding-top: 1rem;
   position: relative;

}

.img-container{
    position: absolute;
    left: 95%;
    bottom: -15px;
    display: flex;
    justify-content: center;
    background-color: var(--Purple);
    width: 8%;
    height: 2rem;
    border-radius: 100%;
    text-align:end ;
}

.main-div-1 img{
   width: 50%;
}




.main-div-2{
    font-size: 2rem;
}


.main-form-1{
    display: flex;
   /* gap:3rem; */
}



span{
    color: var(--Purple);
}

h2{
    color: var(--Smokey-grey);
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 6px;
    padding-bottom: 10px;
}

input{
/* margin-left: 5rem; */
width: 65%;
padding: 1rem;
font-size: 32px;
font-weight: 700;
border-radius: 6px;
border: 1px solid var(--Light-grey);
}

@media (max-width: 765px){

main{
    min-height: 25rem;
    width: 94%;
    padding: 1.5rem;
}

   .main-div-2{
    padding: 2rem;
   font-size: 15px;
   }
   
   .main-form-1{
    padding: 1rem;
    max-width: 100%;
   }

   input{
    width: 70%;
    padding: 0;
   }

   .img-container{
left: 45%;
}
}
